.summary-div{
    display: flex;
    flex-direction: column;
    color: #3a4649;
}
.overview-div{
    display: flex;
    max-width: 80%;
    height: 75px;
    margin-left: 20%;
    font-size:larger;
    font-family: Georgia;
    background-attachment:local;
    
}
.overview-div>p{
    word-spacing: 5px;
}
.audiobook-div{
background-color: rgb(245, 247, 249);
margin-left: 3%;
margin-top: 3%;
padding-left: 3%;
padding-right: 3%;
}
.player-div{
background-color: rgb(57, 5, 17);
border-radius: 5px;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tabs {

    padding: 10px;
    text-align: center;
    width: 50%;
    background: #FFF;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    outline: none;
    font-size: 18.5px;
    /* border-radius: 5px; */
    height: 40px;
    font-weight: bolder;
    color:#3a4649;
    border-bottom: 1px solid #3a4649;
}
.tabs:hover{
    background:linear-gradient(90deg, rgba(250, 250, 250, 1) 1%, rgba(255, 255, 255, 1) 100%);
}

.active-tabs  {
background: white;
border-bottom: 1px solid transparent;
}

.active-tabs::before {
content: "";
display: block;
position: absolute;
bottom: -3px;
left: 50%;
transform: translateX(-50%);
width: calc(80% + 20px);
height: 3px;
background: rgb(88, 147, 241);
}
button {
    border: none;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-tabs {
flex-grow : 1;
margin-top: -3%;
margin-left: 20%;
padding-top: 5px;
}
.content {
background: white;
padding: 5%;
width: 100%;
height: 100%;
display: none;
letter-spacing: 0.5px;
word-spacing: 2px;
}
.active-content {
display: block;
}
.content>h2{
    font-size: 24px;
}
.content>p{
    font-size: 20px;
}
@media screen  and (max-width: 580px){
    .overview-div{
        align-items: center;
        max-width: 100%;
        margin: 0%;
    }
    .overview-div>button{
        font-size: 20px;
    }
    .overview-div>button>h2{
        font-size: 15px;
    }
    .content-tabs{
        margin: 0%;
        align-items: center;
        font-size: small;
    }
    p{
        font-size: 14px;
    }
    
}