.App {
  display: flex;
  flex-direction: column;
}
.App-Main{
  display: flex;
  margin-top: 5%;
  margin-right: 10%;
  
}
@media screen and (max-width: 480px) {
  .App-Main{
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    /* flex-flow: column; */
  }
  .App-header{
    /* min-height: 70px; */
    margin: 0%;
    

  }
}
